.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
  background-color: #1e88e5;
  color: white;
  padding-top: 1rem;
}

.sidebar-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.mat-list-item {
  color: white;
}

.mat-list-item.active-link {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.mat-list-item mat-icon {
  margin-right: 10px;
}

.content {
  padding: 1rem;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
