// 1️⃣ Solo un @use al inicio
@use '@angular/material' as mat;

// 2️⃣ Definir tema
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// 3️⃣ Estilos globales
body {
  color-scheme: light;

  // Angular Material system-level CSS variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset margin
  margin: 0;
}
